@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://getwallpapers.com/wallpaper/full/8/8/6/1018636-widescreen-cow-backgrounds-2048x1365-for-4k.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.image{
	float:left;
	background-image: url("../imagen/logo_vaca.png");
	height: 90px;
    width: 90px;
	background-size: cover;
	background-position: auto;
    margin:auto;
	
}

.contenedor{
  width: 420px;
  height: 100px;
  
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 15%;
  left: 40%;
  margin: -25px 0 0 -25px; 
}
.letra{
  width: 300px;
  height: 50px;

  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 60%;
  right: 10px;
  margin: -35px 0 0 -35px; 
  

}
.titulo{
	color: black;
	font-size: xx-large
}


















.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #121520;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #0b56d8;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}