
.table td th{
    text-align: center;
}

.table thead{
    background-color: rgb(77, 188, 240);
}
.table th {
    background-color: rgb(20, 22, 23);
    font-size:1em;
}
.titulo {
    text-align: center;
    color: rgb(2, 2, 2);
}